/*component*/

@import "components/nav-bar.css";
@import "components/pagination.css";
@import "components/news-notice.css";

/*screens*/

@import "screens/first-area.css";
@import "screens/second-area.css";
@import "screens/third-area.css";
@import "screens/fourth-area.css";
@import "screens/footer.css";

*{
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.night-mode{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    right: 30px;
    bottom: 40px;
    position: fixed;
    z-index: 9999;
    background-color: white;
    transition: all 0.6s ease-in-out;
}

.night-mode-text{
    display: none;
}

.night-mode:focus-within{
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    transition: all 0.6s ease-in-out;

}

.night-mode:focus-within .night-mode-text{
    display: inline-block;
    margin-left: 10px;
}



