
.first-area {
    background-color: tomato;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-image: url("https://www.iaanapt.co.kr/_imgs/nav1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.first-area__title > h1 {
    color: white;
}

.first-area__pagination {
    border: 1px solid blue;
    color: white;
    margin-top: 20px;
}

.first-area__scroll {
    border: 1px solid saddlebrown;
    padding-bottom: 30px;
    position: absolute;
    bottom: 100px;
    color: white;

}
