.first-area__wrap {
    display: flex;
}

.first-area {
    height: 100vh;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-image: url("https://www.iaanapt.co.kr/_imgs/nav1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.first-area__vertical {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    background-image: url("https://www.iaanapt.co.kr/_imgs/exor_bg1.jpg");
    background-size: cover;
}

.first-area__vertical--text {
    transform: rotate(270deg);
    font-size: 24px;
    color: white;
}

.first-area__title > h1 {
    color: white;
}


.first-area__scroll {
    margin-bottom: 20px;
    position: absolute;
    bottom: 10px;
    color: white;
    display: flex;
    flex-direction: column;

}


.first-area__scroll > span {
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
}

.fourth-area__split2-1--text_area-sub-title {
    color: white;
}




