.second-area {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
}

.second-area__content {
    background-image: url("https://www.iaanapt.co.kr/data/file/apt/2087697396_SGmidD6F_c353e68409c72f3f1cbf977f5136c935b8ec66a3.jpg");
    background-size: cover;
    width: 25%;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    gap: 40px;
}

.second-area__content--btn_status {
    padding: 8px 20px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    width: 100px;
}

.second-area__content--title-text {

}

.second-area__content--title-text > h1 {
    color: white;
    font-weight: 400;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}


.second-area__content--date > span {
    color: white;
}

.second-area__content--btn-list_homepage,
.second-area__content--btn-list_register {
    width: 150px;
    padding: 8px 20px;
    margin: 2px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 18px;

}

.second-area__content--btn-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}


.second-area__content--btn-list_homepage:hover,
.second-area__content--btn-list_register:hover {
    background-color: #003744;
}

@media screen and (max-width: 900px) {
    .second-area__content {
        width: 50%;
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    .second-area__content {
        width: 100%;
    }

    .second-area__content--title-text > h1 {
        font-size: 32px;
    }

    .second-area {
        height: auto;
    }
}