.third-area {
    height: 110vh;
    background-image: url("https://www.iaanapt.co.kr/_imgs/community_bg.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third-area__text {
    padding-bottom: 20px;
    text-align: center;
}

.third-area__boxes  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.instagram,
.instagram__content {
    width: 100%;
}


.third-area__box {
    width: 350px;
    margin: 0 16px;
}

.instagram__content {
    margin-top: 0px;
    padding-bottom: 0px;
}