.gnb {
    padding: 24px 64px;
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar__btn-list {
    display: flex;
    font-size: 20px;
    font-weight: 600;
}

.nav-bar__icons {
    display: flex;
}

.nav-bar__btn-list--btn > a {
    padding: 20px 36px;
}

.nav-bar__btn-list--btn > a {
    color: white;
}

.first-area__scroll > p {
    color: white;
}

.nav-bar__icons--search,
.nav-bar__icons--MyPage {
    margin-left: 20px;
}


@media screen and (max-width: 800px) {
    .nav-bar__btn-list {
        display: none;
    }
}

.nav-bar__btn-list--btn a::after {
    content: "|";
    padding-left: 20px;
    color: #1F2329;
}

.nav-bar__btn-list--btn a:last-child::after {
    content: "";
}
